{% extends "base.html" %}
{% load static %}

{% block page_title %}Screenshots - ꓘamerka{% endblock %}

{% block extra_css %}
<style>
.screenshot { max-width: 100%; max-height: 100%; display: block; }
</style>
{% endblock %}

{% block content %}
                <div class="page-content-wrap">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default tabs">
                                <div class="panel-body tab-content">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Device Screenshots</h3>
                                        </div>
                                        <div class="panel-body">
                                            {% for device in devices %}
                                            <div class="col-md-4">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <div class="panel-title-box">
                                                            <h3><a href="{% url 'device' id=device.search_id ip=device.ip device_id=device.id %}">{{ device.ip }}</a></h3>
                                                        </div>
                                                    </div>
                                                    <div class="panel-body padding-0" style="background-color:#0a141d">
                                                        <a href="{% url 'device' id=device.search_id ip=device.ip device_id=device.id %}">
                                                            <img src="data:image/jpeg;base64,{{ device.screenshot }}" class="screenshot">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/plugins/owl/owl.carousel.min.js' %}"></script>
{% endblock %}
