{% extends "base.html" %}
{% load static %}

{% block page_title %}History - ꓘamerka{% endblock %}

{% block content %}
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default tabs">
                                <div class="panel-body tab-content">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Search history</h3>
                                        </div>
                                        <div class="panel-body">
                                            <table id="customers2" class="table datatable">
                                                <thead>
                                                    <tr>
                                                        <th>Country/Coordinates</th>
                                                        <th>Devices</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for search in history %}
                                                    <tr>
                                                        <td><a href="{% url 'results' id=search.id %}">{{ search.country }} {{ search.coordinates }}</a></td>
                                                        <td>{% for i in search.ics %} {{ i }} {% endfor %} {% for i in search.coordinates_search %} {{ i }} {% endfor %}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PAGE CONTENT WRAPPER -->
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/plugins/owl/owl.carousel.min.js' %}"></script>
{% endblock %}





