{% extends "base.html" %}
{% load static %}

{% block page_title %}Launch - ꓘamerka{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/search_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-select.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-select-country.min.css' %}" type="text/css" />
    <link href="{% static 'css/selectr.min.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'js/plugins/selectr.min.js' %}" type="text/javascript"></script>
<style>.dropdown-toggle.btn-default {
  position: relative;
padding: 0px 20px 5px 5px;
border: 4px solid #444;
width: 100%;
background: #FFF;
z-index: 1;
margin: 0px;
font-size: 16px;
min-height: 58px;
width:360%;
}
</style>
    <style>
.dropdown-menu {
     width:360%;
}
</style>
    <style>
        .selectr-selected {
    position: relative;
padding: 0px 20px 5px 5px;
border: 4px solid #444;
width: 100%;
background: #FFF;
z-index: 1;
margin: 0px;
font-size: 16px;
min-height: 58px;
}
.selectr-placeholder {
    color: black;
    margin-top: 15px;
}
.selectr-tags {
    padding: 5px;
    }
    .selectr-tag {

    background: #1caf9a;
    }
    </style>
    <style>
        .file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}


.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed  #ff00cd;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #00E1FF;
  border: 4px dashed #ff00cd;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  text-transform: uppercase;
  color: #0064d7;
  padding: 60px 0;
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
font-weight: 500;
font-size: 22px;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}


    </style>
    <link href="{% static 'css/search.css' %}" rel="stylesheet" media="all">
{% endblock %}

{% block content %}
                <div class="cp-page-header" style="text-align:center; padding:14px 0 6px;">
                  <h1 class="cp-page-title" style="text-align:center;">
                    <span class="cp-glitch" data-text="ICS &amp; IoT Reconnaissance">ICS &amp; IoT Reconnaissance</span>
                  </h1>
                  <div style="font-family:var(--cp-font);font-size:0.95em;letter-spacing:0.18em;color:var(--cp-dim);padding-bottom:6px;">
                    LAUNCH · SHODAN PRESETS · CREDIT-AWARE SEARCH
                  </div>
                </div>
        <div class="km-launch-wrap">
            <div class="km-launch-card card card-4">
                <div class="card-body">
                    <ul class="tab-list">
                        <li class="tab-list__item active">
                            <a class="tab-list__link" href="#tab1" onclick="replaceback()" data-toggle="tab">Industrial Control Systems</a>
                        </li>
                        <li class="tab-list__item">
                            <a class="tab-list__link" href="#tab2"  id='tab' onclick="replace()" data-toggle="tab">Internet of Things</a>
                        </li>
                        <li class="tab-list__item">
                            <a class="tab-list__link" href="#tab8"  id='tab7' onclick="replace4()" data-toggle="tab">Infrastructure</a>
                        </li>
                         <li class="tab-list__item">
                            <a class="tab-list__link" href="#tab3"  id='tab4' onclick="replace2()" data-toggle="tab">Healthcare</a>
                        </li>
                        <li class="tab-list__item">
                            <a class="tab-list__link" href="#tab5"  id='tab6' onclick="replace3()" data-toggle="tab">Upload NMAP Scan</a>
                        </li>



                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                                                                           <h3><center style="color: #00E1FF;">Country</center></h3>
                            <form method="POST" action="">
{% csrf_token %}
	 <select class="selectpicker countrypicker" name='country' id='country' data-default="US" data-flag="true" ></select>

<br>
                                <br>
                                                <h3><center style="color: #00E1FF;">Device</center></h3>

                                                <select id="ics_country" multiple name="ics_country">
{% for key, label in ics_presets %}
                                                    <option value="{{ key }}">{{ label }}</option>
{% endfor %}
                                                                                                   </select>
<br>


<input type="checkbox" id="test1" name="all" /><label for="test1"><span class="ui"></span> <h4>All results </h4></label>


                                <br>
                                <br>

<button class="btn-submit m-t-0" type="submit">search</button>


                            </form>
                        </div>

                        <div class="tab-pane" id="tab2">


                                                        <form method="POST" action="">
{% csrf_token %}
                                                           <h3><center style="color:#00E1FF;">Coordinates</center></h3>

                                                            <section class="webdesigntuts-workshop">
		<input type="search" name="coordinates" id="coordinates" placeholder="Search...">
</section>
                          <br>    <br><br><h3><center style="color:#00E1FF;">Camera</center></h3>

                                                                                                                      <select multiple name="coordinates_search" id="cam" >
{% for key, label in iot_camera_presets %}
                                                    <option value="{{ key }}">{{ label }}</option>
{% endfor %}
                                                </select>

                                        <br>
                                                                                   <h3><center style="color:#00E1FF;">Other</center></h3>

                                                                <select name="coordinates_search" id='other' multiple>
{% for key, label in iot_other_presets %}
                                                    <option value="{{ key }}">{{ label }}</option>
{% endfor %}
                                                </select>
                               <br>
                                   <h3><center style="color: #00E1FF;">ICS</center></h3>
                                                                                                <select name="coordinates_search" multiple id="icsiot">
{% for key, label in iot_ics_presets %}
                                                    <option value="{{ key }}">{{ label }}</option>
{% endfor %}
                                                </select>
<br>
                                                            <input type="checkbox" id="test3" name="all" /><label for="test3"><span class="ui"></span> <h4>All results </h4></label>


                                <br>
                                <br>
<button class="btn-submit m-t-0" type="submit">search</button>







                            </form>


                        </div>
                         <div class="tab-pane" id="tab3">
                                                                           <h3><center style="color: #00E1FF;">Country</center></h3>
                            <form method="POST" action="">
{% csrf_token %}
	 <select class="selectpicker countrypicker" name='country_healthcare' id='country_healthcare' data-default="CA" data-flag="true" ></select>

<br>
                                <br>
                                                <h3><center style="color: #00E1FF;">Device</center></h3>

                                                <select id="healthcare" multiple name="healthcare">
                                                    <option value="dicom">Dicom</option>
                                                    <option value="zoll">Zoll</option>
  													<option value="perioperative">GE Perioperative</option>
  													<option value="wall_of_analytics">Wall of Analytics</option>
                                                    <option value="viztek_exa">VIZTEK EXA</option>
  													<option value="medweb">Medweb</option>
  													<option value="intuitim">Intuitim</option>
                                                    <option value="medcon_archiving_system">Medcon Archiving System</option>
  													<option value="orthanc_explorer">Orthanc Explorer</option>
  													<option value="osirix">OsiriX</option>
                                                    <option value="clari_pacs">ClariPACS</option>
  													<option value="siste_lab">SisteLAB</option>
  													<option value="opalweb">Opalweb</option>
                                                    <option value="neuropro">Neuropro</option>
  													<option value="tmw_document_imaging">TMW Document Imaging</option>
  													<option value="erez">eRez Imaging</option>
                                                    <option value="gluco_care">GlucoCare igc</option>
                                                    <option value="glucose_guide">Glucose guide</option>
  													<option value="grandmed_glucose">Grandmed Glucose</option>
  													<option value="philips_digital_pathology">Philips Digital Pathology</option>
                                                    <option value="tricore_pathology">Tricore Pathology</option>
  													<option value="appsmart_ophthalmology">Appsmart Pathology</option>
  													<option value="chs_ophthalmology">CHS Ophthalmology</option>
                                                    <option value="ram_soft">RamSoft</option>
  													<option value="xnat">XNAT</option>
  													<option value="iris_emr">Iris EMR</option>
                                                    <option value="eclinicalworks_emr">eClinicalWorks EMR</option>
                                                    <option value="open_emr">OpenEMR</option>
                                                    <option value="oscar_emr">OSCAR EMR</option>
                                                    <option value="wm_emr">WM EMR</option>
                                                    <option value="doctors_partner_emr">DoctorsPartner EMR</option>
  													<option value="mckesson_radiology">McKesson Radiology</option>
  													<option value="kodak_carestream">KODAK CARESTREAM PACS</option>
                                                    <option value="meded">MedEd</option>
  													<option value="centricity_radiology">Centricity Radiology</option>
  													<option value="openeyes">OpenEyes</option>
                                                    <option value="orthanc">Orthanc</option>
  													<option value="horos">Horos</option>
  													<option value="open_mrs">OpenMRS</option>
                                                    <option value="mirth_connect">Mirth Connect</option>
                                                    <option value="acuity_logic">AcuityLogic</option>
                                                    <option value="optical_coherence_tomography">Optical Coherence Tomography</option>
                                                    <option value="philips_intellispace">Philips Intellispace</option>
                                                     <option value="vitrea_intelligence">Vitrea intelligence</option>
                                                    <option value="phenom_electron_microscope">Phenom-World Microscope</option>
  													<option value="meddream_dicom_viewer">MedDream DICOM Viewer</option>
  													<option value="merge_pacs">Merge PACS</option>
                                                    <option value="synapse_3d">Synapse 3D</option>
  													<option value="navify">NAVIFY® Oncology Workflow</option>
  													<option value="telemis_tmp">Telemis TMP</option>
                                                    <option value="brainlab">Brainlab</option>
  													<option value="nexus360">Nexus360</option>
  													<option value="brain_scope">BrainScope</option>
                                                    <option value="omero_microscopy">OMERO Microscopy</option>
                                                    <option value="meditech">Meditech</option>
                                                    <option value="cynetics">Cynetics</option>
                                                    <option value="promed">Promed</option>
  													<option value="carestream">Carestream</option>
                                                    <option value="carestream_web">Carestream web</option>
  													<option value="vet_rocket">Vet Rocket</option>
  													<option value="vet_view">VetView</option>
                                                    <option value="lumed">LUMED</option>
                                                    <option value="infinitt">INFINITT</option>
                                                    <option value="labtech">Labtech</option>
                                                    <option value="progetti">Progetti</option>
                                                    <option value="qt_medical">QT Medical</option>
  													<option value="huvitz_optometric">Huvitz Optometric</option>
  													<option value="optos_advance">OptosAdvance</option>
                                                    <option value="optovue">Optovue</option>
                                                    <option value="asthma_monitoring_adamm">Asthma Monitoring ADAMM</option>
                                                    <option value="pregnabit">Pregnabit</option>
                                                    <option value="prime_clinical_systems">Prime Clinical Systems</option>
  													<option value="omni_explorer">OmniExplorer</option>
                                                    <option value="avizia">Avizia</option>
  													<option value="operamed">Operamed</option>
  													<option value="early_sense">EarlySense</option>
                                                    <option value="tunstall">Tunstall</option>
                                                    <option value="clini_net">CliniNet</option>
                                                    <option value="intelesens">Intelesens</option>
                                                    <option value="kb_port">KbPort</option>
                                                    <option value="nursecall_message_service">Nursecall Message Service</option>
                                                    <option value="image_information_systems">IMAGE Information Systems</option>
                                                    <option value="agilent_technologies">Agilent Technologies</option>
                                                    <option value="praxis_portal2">Medigration PraxisPortal2</option>
                                                    <option value="xero_viewer">XERO Viewer</option>
                                                    <option value="dicom_port_104">DICOM Port 104</option>
                                                    <option value="hl7_fhir">HL7 FHIR</option>
                                                    <option value="ge_healthcare">GE Healthcare</option>
                                                    <option value="philips_healthcare">Philips Healthcare</option>
                                                    <option value="siemens_healthineers">Siemens Healthineers</option>
                                                    <option value="dental_imaging">Dental Imaging</option>
                                                    <option value="radiant_dicom">RadiAnt DICOM</option>
                                                    <option value="baxter_infusion">Baxter Infusion</option>
                                                    <option value="draeger_medical">Draeger Medical</option>
                                                    <option value="planmeca_romexis">Planmeca Romexis</option>

                                                                                                   </select>
<br>


<input type="checkbox" id="test9" name="all" /><label for="test9"><span class="ui"></span> <h4>All results </h4></label>


                                <br>
                                <br>

<button class="btn-submit m-t-0" type="submit">search</button>


                            </form>
                        </div>




                            <div class="tab-pane" id="tab5">
                            <form method="post" action="" enctype="multipart/form-data">
{% csrf_token %}
  <div class="image-upload-wrap">
    <input class="file-upload-input" type='file' name="myfile" onchange="readURL(this);"/>
    <div class="drag-text">
      <h3>Upload NMAP scan in XML format </h3>
    </div>
  </div>
                                <div class="file-upload-content">
    <div class="image-title-wrap">
        <span style='color:white;font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
font-weight: 500;
font-size: 22px;' class="image-title">
            </span>
    </div>
  </div>
                                <br>

<!--    <input type="file" name="myfile">-->
    <button class="btn-submit m-t-0" type="submit">Upload</button>
  </form>
                        </div>



                        <div class="tab-pane" id="tab8">
                                                                           <h3><center style="color: #00E1FF;">Country</center></h3>
                            <form method="POST" action="">
{% csrf_token %}
	 <select class="selectpicker countrypicker" name='country_infra' id='country_infra' data-default="CA" data-flag="true" ></select>

<br>
                                <br>
                                                <h3><center style="color: #00E1FF;">Device</center></h3>

                                                <select id="infra" multiple name="infra">

                                                    <option value="cobaltstrike">Cobalt Strike</option>
                                                    <option value="msf">Metasploit</option>
                                                    <option value="covenant">Covenant</option>
                                                    <option value="mythic">Mythic</option>
                                                    <option value="bruteratel">BruteRatel</option>
                                                    <option value="sliver">Sliver</option>
                                                    <option value="havoc">Havoc</option>
                                                    <option value="posh_c2">PoshC2</option>
                                                    <option value="deimos_c2">DeimosC2</option>
                                                    <option value="merlin_c2">Merlin</option>
                                                    <option value="nighthawk_c2">Nighthawk</option>
                                                    <option value="nimplant">NimPlant</option>
                                                    <option value="villain_c2">Villain</option>

                                                                                                   </select>
<br>


<input type="checkbox" id="test7" name="all" /><label for="test7"><span class="ui"></span> <h4>All results </h4></label>


                                <br>
                                <br>

<button class="btn-submit m-t-0" type="submit">search</button>


                            </form>
                        </div>







                    </div>
                </div>
            </div>


        </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/plugins/bootstrap/bootstrap-select.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-select-country.js'  %}"></script>
<script>
    function readURL(input) {
  if (input.files && input.files[0]) {

    var reader = new FileReader();

    reader.onload = function(e) {
      $('.image-upload-wrap').hide();
      $('.image-title').html(input.files[0].name);

<!--      $('.file-upload-image').html(input.files[0].name);-->
      $('.file-upload-content').show();

    };

    reader.readAsDataURL(input.files[0]);

  } else {
    removeUpload();
  }
}
</script>

    <script>
function _kmLaunchBg(url) {
  var card = document.querySelector(".km-launch-card");
  if (card) { card.style.backgroundImage = "url(" + url + ")"; card.style.backgroundSize = "cover"; }
}
function replaceback() { _kmLaunchBg("{% static 'images/back1.jpg' %}"); }
function replace() { _kmLaunchBg("{% static 'images/back2.jpg' %}"); }
function replace2() { _kmLaunchBg("{% static 'images/back3.jpg' %}"); }
function replace3() { _kmLaunchBg("{% static 'images/back4.jpg' %}"); }
function replace4() { _kmLaunchBg("{% static 'images/back5.jpg' %}"); }
</script>
    <script>
			$('.country').countrypicker();
		</script>


        <script>
        a = new Selectr('#infra', {
	searchable: true,
	width: 300,
		multiple: true,

});
a.selectedValues = [];
</script>

    <script>
        a = new Selectr('#ics_country', {
	searchable: true,
	width: 300,
		multiple: true,

});
a.selectedValues = [];
</script>
    <script>
        a = new Selectr('#healthcare', {
	searchable: true,
	width: 300,
		multiple: true,

});
a.selectedValues = [];
</script>
    <script>
new Selectr('#icsiot', {
	searchable: true,
	width: 300,
	multiple: true,
});
new Selectr('#cam', {
	searchable: true,
	width: 300,
	multiple: true,
});new Selectr('#other', {
	searchable: true,
	width: 300,
	multiple: true,
});
    </script>

<!-- ═══════════════════════════════════════════════════════════════════ -->
<!-- CREDIT-COST CONFIRMATION MODAL                                    -->
<!-- ═══════════════════════════════════════════════════════════════════ -->
<div id="credit-cost-modal" style="display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.7);z-index:9999;justify-content:center;align-items:center;">
    <div style="background:#0a1428;border:2px solid #0064d7;border-radius:8px;padding:30px;max-width:450px;width:90%;text-align:center;box-shadow:0 0 30px rgba(0,100,215,0.3);">
        <h3 style="color:#00e1ff;margin:0 0 16px;letter-spacing:0.1em;">&#128176; API Credit Estimate</h3>
        <div id="credit-cost-content" style="color:#fff;font-size:1.1em;margin-bottom:20px;">
            <p>Estimating cost...</p>
        </div>
        <button id="credit-cost-confirm" style="background:#00e1ff;color:#000;border:none;padding:10px 30px;font-weight:bold;border-radius:4px;cursor:pointer;margin-right:10px;">Proceed</button>
        <button id="credit-cost-cancel" style="background:#ff2050;color:#fff;border:none;padding:10px 30px;font-weight:bold;border-radius:4px;cursor:pointer;">Cancel</button>
    </div>
</div>

<script>
(function() {
    function getSelectrValues(selectEl) {
        if (!selectEl) return [];
        if (selectEl.selectr) {
            var values = selectEl.selectr.getValue();
            return Array.isArray(values) ? values : (values ? [values] : []);
        }
        return Array.from(selectEl.selectedOptions).map(function(o) { return o.value; });
    }

    function getFormSelectionKeys(form) {
        var keys = [];
        form.querySelectorAll('select[multiple]').forEach(function(sel) {
            keys = keys.concat(getSelectrValues(sel));
        });
        return keys.filter(function(k) { return k; });
    }

    var forms = document.querySelectorAll('form[method="POST"]');
    var modal = document.getElementById('credit-cost-modal');
    var content = document.getElementById('credit-cost-content');
    var pendingForm = null;

    forms.forEach(function(form) {
        form.addEventListener('submit', function(e) {
            if (form.querySelector('input[type="file"]')) return;

            e.preventDefault();
            pendingForm = form;

            var keys = getFormSelectionKeys(form);
            if (!keys.length) {
                alert('Select at least one device or query preset.');
                return;
            }

            var queryStr = keys.join(', ');
            var countryField = form.querySelector(
                'select[name="country"], select[name="country_healthcare"], select[name="country_infra"]'
            );
            var country = countryField ? countryField.value : '';

            modal.style.display = 'flex';
            content.innerHTML = '<p style="color:#00e1ff;">&#9203; Checking Shodan result count for ' +
                keys.length + ' selection(s)...</p><p style="color:#888;font-size:0.85em;">' + queryStr + '</p>';

            $.ajax({
                type: "GET",
                url: "/search_cost",
                headers: { 'X-Requested-With': 'XMLHttpRequest' },
                traditional: true,
                data: {
                    keys: keys,
                    country: country
                },
                success: function(data) {
                    if (data.error) {
                        content.innerHTML = '<p style="color:#ffe600;">&#9888; ' + data.error + '</p><p style="color:#888;">Proceed anyway?</p>';
                    } else {
                        var labels = (data.selection_labels || keys).join(', ');
                        var selectionNote = keys.length > 1
                            ? '<p style="color:#888;font-size:0.85em;">' + keys.length + ' presets: ' + labels + '</p>'
                            : '<p style="color:#888;font-size:0.85em;">Preset: ' + labels + '</p>';
                        content.innerHTML = '<p><b style="color:#00e1ff;font-size:1.3em;">' + data.count.toLocaleString() + '</b> total results</p>' +
                            '<p>Estimated credit cost: <b style="color:' + (data.credits_cost > 10 ? '#ff2050' : '#00ff88') + ';">' + data.credits_cost + ' credits</b></p>' +
                            selectionNote;
                    }
                },
                error: function() {
                    content.innerHTML = '<p style="color:#888;">Could not estimate cost. Proceed anyway?</p>';
                }
            });
        });
    });

    document.getElementById('credit-cost-confirm').addEventListener('click', function() {
        modal.style.display = 'none';
        if (pendingForm) {
            pendingForm.submit();
        }
    });

    document.getElementById('credit-cost-cancel').addEventListener('click', function() {
        modal.style.display = 'none';
        pendingForm = null;
    });
})();
</script>
{% endblock %}
