{% extends "base.html" %}

{% block page_title %}Useful Links - ꓘamerka{% endblock %}

{% block content %}
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Useful Links</h3>
                </div>
                <div class="panel-body">
                    <h2>Blogs</h2>
                    <p><h3>Wojciech - <a href="https://offensiveosint.io">Offensive OSINT</a> - <a href="https://twitter.com/@the_wojciech">https://twitter.com/@the_wojciech</a></h3></p>

                    <h2>Security Resources</h2>
                    <p><h3>&#128274; Penetration Testing Tools &amp; Security Resources - <a href="https://webmaster-exit-1.github.io/Security_Resources/" target="_blank" rel="noopener noreferrer">webmaster-exit-1.github.io/Security_Resources</a></h3></p>

                    <h2>Other</h2>
                    <p><h3>Default password for Scada devices - <a href="https://github.com/ITI/ICS-Security-Tools/blob/master/configurations/passwords/scadapass.csv">https://github.com/ITI/ICS-Security-Tools/blob/master/configurations/passwords/scadapass.csv</a></h3></p>
                    <p><h3>Default password for Scada devices 2 - <a href="http://www.critifence.com/default-password-database/">http://www.critifence.com/default-password-database/</a></h3></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}